@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

.toast-slide-in {
    animation: slideIn 0.5s ease forwards;
}

.toast-slide-out {
    animation: slideOut 0.5s ease forwards;
}