/* .footer {
  background-color: #f1f1f1;
  width: 100vw;

  text-align: center;
}

.footer-text {
  color: #021c36;
  margin: 0;
  font-size: small;
}

.footer-username {
  color: #021c36;
  font-weight: bold; 
} */
